* {
  margin: 5px;
}
.header {
  /*background: orange;*/
  display: flex;
  justify-content: space-between;
  /*margin: 20px;*/
}
.logo {
  width: 80px;
  padding: 20px 20px;
}
.nav-items > ul {
  display: flex;
  font-size: 20px;
  padding-right: 100px;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.home {
  font-weight: bold;
}
.search-box {
  width: 50%;
  padding: 12px 20px;
  margin-left: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-btn {
  width: 20%;
  background-color: rgba(255, 166, 0, 0.801);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.res-card {
  width: 200px;
  min-height: 300px;
  background-color: rgba(255, 166, 0, 0.514);
  box-shadow: 0.3rem 0.3rem 0.4rem 0.1rem red;
  transition: ease-in 0.3s;
}
.res-card:hover {
  border: 1px solid orange;
  border-radius: 10px;
  cursor: pointer;
  background-color: grey;
  color: white;
}
.res-logo {
  width: 190px;
}

.res-container {
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
}

.res-card h1 {
  font-family: cursive;
}
.filter-btn {
  padding: 10px;
  border-radius: 5px;
  background-color: orange;
  box-shadow: 0.3rem 0.3rem 0.4rem 0.1rem red;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
}

.login-btn {
  padding: 0 20px;
  cursor: pointer;
}

.errorImg {
  margin-top: 3%;
  margin-left: 20%;
}

.user-card{
  padding: 10px;
  border: 1px solid black;
}